/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  overflow-x: hidden;
}

.card {
  border: 0;
}

.card-row {
  height: 100%;
}

.custom-card-title {
  font-size: 6vw;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.custom-card-text {
  font-size: 4vw;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.custom-header {
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: 1px;
}

.card-img {
  filter: brightness(110%);
}

.form-label {
  font-size: 2em;
}

.icon {
  width: 150px;
  height: 150px;
}

.custom-bullet-title {
  font-size: 2vw;
  font-weight: 700px;
  letter-spacing: 1px;
  font-style: italic;
}

.custom-bullet-text {
  font-size: 1.5vw;
}

.btn {
  font-weight: bold;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.vh-60 {
  height: 60vh;
}

.form-label {
  font-size: 1.2vw;
}

.custom-margin {
  margin-bottom: 1.5vw;
}

@media (max-width: 768px) {
  .icon {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 425px) {
  .custom-nav-mobile {
    justify-content: space-evenly !important;
  }

  .custom-header {
    font-size: 20px;
  }
  .custom-bullet-title {
    font-size: 14px;
    text-align: center;
  }
  .custom-bullet-text {
    font-size: 8px;
  }
}

@media (max-width: 1140px) {
  .hide-content {
    display: none;
  }
}
